# Download this file using PowerShell v3 under Windows with the following comand:
# Invoke-WebRequest https://gist.githubusercontent.com/kmorcinek/2710267/raw/ -OutFile .gitignore
# or wget:
# wget --no-check-certificate http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore

# User-specific files
*.suo
*.user
*.sln.docstates

.vs
packages
ParentControl.Client/**/bin/**/*.*
ParentControl.Client/**/obj/**/*.*

ParentControl.DTO/**/bin/**/*.*
ParentControl.DTO/**/obj/**/*.*

ParentControl.Infrastructure/**/bin/**/*.*
ParentControl.Infrastructure/**/obj/**/*.*

ParentControl.Mobile.Android/**/bin/**/*.*
ParentControl.Mobile.Android/**/obj/**/*.*

ParentControl.Mobile.Core/**/bin/**/*.*
ParentControl.Mobile.Core/**/obj/**/*.*

ParentControl.Notification/**/bin/**/*.*
ParentControl.Notification/**/obj/**/*.*

ParentControl.Server/**/bin/**/*.*
ParentControl.Server/**/obj/**/*.*

ParentControl.SetupTool/**/bin/**/*.*
ParentControl.SetupTool/**/obj/**/*.*
